
@media screen and (min-width: 250px){
	body{
		background-image: url(images/twin.gif);
	}
}
	
@media screen and (min-width: 680px){
	body {
		background-image:url(images/hi.gif);
	}
}
	
@media screen and (min-width: 1000px){
	body{
		background-image:url(images/dope.gif);
	}
}
@media screen and (min-width: 250px){
.small {
	display:block;
	content:url(images/kitten-small.png);
	
}
@media screen and (min-width: 680px){
.small {
	content:url(images/kitten-medium.png);
}
}
@media screen and (min-width: 1000px){
.small {
	content:url(images/kitten-large.png);
}
}
@media screen and (min-width: 250px){
.loaf {

	content:url(images/kittyloaf.gif);
}
}